* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.unstyle {
  all: unset;
}

/* Colours */

:root {
  --white-background-hard: #f9f9ed;
  --white-background-soft: #fdfdf8;
  --brown-terracota: #8d5240;
  --text-green: #95944c;
  --text-brown: #585041;
  --border-line: #000902;
}

.selected {
  color: var(--brown-terracota);
}

/* NAVBAR*/

nav {
  width: 100vw;
  padding: 0px 30px;
  border-bottom: 3px solid var(--border-line);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-background-hard);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style-type: none;
}
  
nav ul li:first-child {
  justify-self: flex-start;
}

nav ul li a {
  text-decoration: none;
}

nav ul li img {
  width: 90px;
  filter: none;
  -webkit-filter: grayscale(0);
}

nav ul li img:hover {
  width: 90px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.material-symbols-outlined {
  color: var(--text-green);
}

span.material-symbols-outlined {
  width: 50px;
}

/* FOOTER */

div.footer {
  width: 100vw;
  padding: 30px 60px;
  border-top: 3px solid var(--border-line);
  display: flex;
  justify-content: flex-end;
  background-color: var(--white-background-hard);
  color: var(--text-green);
}



/* BUTTON */

button.edit-delete {
  all: unset;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--text-brown);
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--brown-terracota);
  text-align: center;
  box-shadow: 0.1em 0.1em var(--text-brown);
  box-shadow: #585041;
  margin: 10% 10px 0px 0px;
}

button.edit-delete:hover {
  all: unset;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--text-green);
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--text-green);
  text-align: center;
  box-shadow: 0.1em 0.1em var(--text-green);
  box-shadow:  #95944c;
  margin: 10% 10px 0px 0px;
}

button .unstyle-Go {
  border-style: none;
  background-color: none;
  all: unset;
}

button.Find-Bikes {
  all: unset;
  border: 2px solid white;
  background-color: none;
  border-radius: 20px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
}

button.Find-Bikes a{
color: white;
}

button.Find-Bikes:hover {
  all: unset;
  border: 2px solid var(--text-brown);
  background-color: white;
  opacity: 0.6;
  border-radius: 20px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
}

button.Find-Bikes:hover a{
  color: var(--text-brown);
  }

button.buy-save-bike {
  all: unset;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;
  color: white;
  margin: 10px 10px;
}  

button.buy-save-bike:hover {
  all: unset;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;
  color: var(--text-brown);
  margin: 10px 10px;
}  

a.buy-save-bike {
  all: unset;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;
  color: white;
}

a.buy-save-bike:hover {
  all: unset;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 15px;
  text-align: center;
  color: var(--text-brown);
}  

Button {
  all: unset;
}

/* GRID */

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(30, 25px);
}

/* Grid Home */
div.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 20;
  background-color: var(--yellow);
  border-right: 3px solid var(--border-line);
  border-bottom: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 20;
  padding: 100px 50px;
  border-bottom: 3px solid var(--border-line);
  background-image: url('https://res.cloudinary.com/ds0q8dpvh/image/upload/v1664016639/bikeFinder/background-1_cqxtoi.png') ;
  background-size: 1020px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-3 {
  grid-column: 1 / span 5;
  grid-row: 20 / span 30;
  padding: 50px 50px;
}

/* Grid Bikes */
div.item-bikes-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 30;
  background-color: var(--yellow);
  border-right: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  padding: 100px 50px;
}

div.item-bikes-1 p a {
  color: var(--text-brown);
  padding: 5px 0px;
}

div.item-bikes-1 p:hover a {
  color: var(--brown-terracota);
}

div.item-bikes-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 30;
  padding: 100px 50px;
  background-image: url('https://res.cloudinary.com/ds0q8dpvh/image/upload/v1664016646/bikeFinder/background-2_zjqd2x.png') ;
  background-size: 1200px;
}

div.bikeDetails-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.bikeDetails img {
  padding: 15px 50px;
  width: 650px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Grid Review Detail */
div.item-reviewdetail-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 30;
  background-color: var(--yellow);
  border-right: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-reviewdetail-1 img {
width: 75%;
rotate: -5deg;
}

div.item-reviewdetail-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 30;
  padding: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-reviewdetail-2 p {
  font-size: 20px;
  padding: 0px 60px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

/* Grid Login */
.grid-container-login {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(25, 25px);
}

div.item-login-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 25;
  background-color: var(--yellow);
  padding: 100px 50px;
  border-right: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-login-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 25;
  padding: 100px 50px;
  background-image: url('https://res.cloudinary.com/ds0q8dpvh/image/upload/v1664016798/bikeFinder/patrick-hendry-pNp6SYmaJHQ-unsplash_mtvow2.jpg') ;
  background-size: 1020px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-login-1 form{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--brown-terracota);
  font-size: 30px;
}

div.item-login-1 form input{
  width: 250px;
  padding: 20px 30px;
  border: 2px solid var(--text-green);
  border-radius: 10px;
  display: flex;
  margin: 20px 0px;
}

div.item-login-1 form button{
  all: unset;
  color: var(--white-background-soft);
  background-color: var(--text-brown);
  border-radius: 10px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
  }

  div.item-login-1 form button:hover{
    all: unset;
    color: var(--white-background-soft);
    background-color: var(--text-green);
    border-radius: 20px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    text-align: center;
    }

/* Grid Signup */

div.item-signup-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 25;
  background-color: var(--yellow);
  padding: 100px 50px;
  border-right: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-signup-1 form{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--brown-terracota);
  font-size: 20px;
}

div.item-signup-1 form input{
  width: 250px;
  padding: 10px 15px;
  border: 2px solid var(--text-green);
  border-radius: 10px;
  display: flex;
  margin: 20px 0px;
}

div.item-signup-1 form button{
  all: unset;
  color: var(--white-background-soft);
  background-color: var(--text-brown);
  border-radius: 10px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
  }

  div.item-signup-1 form button:hover{
    all: unset;
    color: var(--white-background-soft);
    background-color: var(--text-green);
    border-radius: 20px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    text-align: center;
    }

/* Grid ErrorPage */
div.item-1-error-page {
  grid-column: 1 / span 2;
  grid-row: 1 / span 15;
  background-color: var(--yellow);
  padding: 100px 50px;
  border-right: 3px solid var(--border-line);
  border-bottom: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-2-error-page {
  grid-column: 3 / span 3;
  grid-row: 1 / span 15;
  padding: 100px 50px;
  border-bottom: 3px solid var(--border-line);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grid New review */

.grid-container-newReview {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(25, 25px);
}

div.item-newReview-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 25;
  background-color: var(--yellow);
  padding: 100px 50px;
  border-right: 3px solid var(--border-line);
  background-color: var(--white-background-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-newReview-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 25;
  padding: 100px 50px;
  background-image: url('https://res.cloudinary.com/ds0q8dpvh/image/upload/v1664016811/bikeFinder/velofilia10_jsuud3.jpg') ;
  background-size: 1020px;
}

div.item-newReview-1 form input{
  all: unset;
  padding: 10px;
  border: 2px solid var(--text-green);
  border-radius: 10px;
  display: flex;
  margin: 20px 0px;
}

div.item-newReview-1 form button{
  all: unset;
  color: var(--white-background-soft);
  background-color: var(--text-brown);
  border-radius: 10px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
}

div.item-newReview-1 form button:hover{
  all: unset;
  color: var(--white-background-soft);
  background-color: var(--text-green);
  border-radius: 20px;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px;
  text-align: center;
}

/* Grid Edit Review */
div.item-editReview-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 25;
  padding: 100px 50px;
  background-image: url('https://res.cloudinary.com/ds0q8dpvh/image/upload/v1664113198/bikeFinder/himiway-bikes-j-I1LomOcyg-unsplash_dgtmh0.jpg') ;
  background-size: 1020px;
}

/* Grid My Reviews */

.grid-container-my-reviews {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(30, 25px);
  background-color: var(--white-background-soft);
  padding: 0px 0px;
}

div.my-reviews img {
  width: 100%;
  filter: none;
  -webkit-filter: grayscale(0);
}

div.my-reviews img:hover {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transform: scale(1.005);
  /* border-radius: 10; */
}

div.my-reviews-text{
  padding: 0px 10% 0px 5px;
}

/* TEXT */

div.item-1 p.Toast {
  font-size: 30px;
  font-family: 'Nothing You Could Do', cursive;
  color: var(--text-green);
}

div.item-1 p {
  font-size: 45px;
  padding: 15px;
}

div.item-1 p a {
  color: var(--text-brown);
}

div.item-1 p:hover a {
  color: var(--brown-terracota);
}

div.item-2 p a {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f9f9ed;
}

div.LogIn-SignUp a {
  position: absolute;
  z-index: 1;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--text-green);
  font-size: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--brown-terracota);
}

h1 {
  color: #585041;
  padding-bottom: 25px;
}

h2 {
  color: #585041;
  padding: 15px 0px;
}

h4 {
  color: var(--white-background-hard);
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  color: var(--text-brown);
  opacity: 0.6;
}



/* MARQUEE */

.wrapper {
	width: 100%;
	cursor: pointer;
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	transform: translate3d(0, 0, 0);
}

.mover {
	display: inline-flex;
	align-items: center;
	animation: marquee 20s linear infinite;
	animation-play-state: running;
	will-change: transform;
  -webkit-text-stroke: 1px var(--text-green);
  color: transparent; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

@keyframes marquee {
	100% {
		transform: translateX(-100%);
	}
}

/* VIEWS */

div.container-reviews-out{
  padding: 25px 0px;
}

div.container-reviews-in{
  display: inline;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

div.container-reviews-in img {
  filter: none;
  -webkit-filter: grayscale(0);
}

div.container-reviews-in img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transform: scale(1.2);
}




/* CIRCLE */
.textcirc {
  width:300px;
  height:300px;
  margin:0 auto;
  position: absolute;
   align-items: center;
   justify-content: center;
      -webkit-animation:spin 20s linear infinite;
      -moz-animation:spin 20s linear infinite;
      animation:spin 20s linear infinite;
  }
  @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
  }
  @-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
  }
  
  .linew{fill:none;stroke:#fff;stroke-width:2;stroke-miterlimit:10;}
  
  .white {
    color: var(--text-green);
    fill: var(--text-green);
    font:normal 8.3px Arial;
    text-transform:uppercase;
  }